# URL base da API NestJS
VITE_API_URL=http://localhost:3000/api

# Google Login
# Deve utilizar o mesmo Client ID configurado em GOOGLE_CLIENT_ID no backend.
VITE_GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com